<style>
        .line{
            background-color: bisque;
        }
        #new{
            font-family: cursive;
        }   
          h1{
            background-color: aqua;
          }      
            .parent p{
            color:rgba(62, 79, 224, 0.952);
            }   
            p:hover{
                color: rgb(11, 190, 131);
                background-color:hotpink;
            }  
            .border{
                border:2px solid black ;
                padding: 10px;
                border-radius: 20px;
                border-style: dotted;
            } 
            .margin{
                border: 3px solid black;
                padding: 20px;
            }   
            .margin2{
                border: 3px solid black;   
                margin-top: 50px;
            }   
            
            .static{
                position:static;
            }    
            .postion{
                border:1px solid violet;
            }
            .relative{
                position:relative;
                top:30px;
                left:60px;
            }
            .page{
                height:100vh;
            }
            .fixed{
                background-color: lawngreen;
                position:fixed;
                left:80px;
            }
            .sticky{
                position:sticky;
                top:0px;
                font-size: xx-large;
            }
            .inline{
                display: inline;
            }
            .flex-container{
                display: flex;
               /* flex-direction: row-reverse; */
            }
            .flex-container div{
                background-color: bisque;
                background:2px solid cornflowerblue;
                height: 100px;
                width: 100px;
            }
            .item2{
                /* flex-grow: 2; */
                flex-shrink: 0;
            }
    </style>